.button {
  width: 160px;
  aspect-ratio: 8 / 3;
  font-weight: bold;
  color: white;
  @apply rounded-8;
}

.yellow {
  @apply bg-yellow-100;
}

.yellow-outline {
  @apply border-yellow-100 text-yellow-100 bg-none border-4;
}

.green {
  @apply bg-green-100;
}

.green-outline {
  @apply border-green-100 text-green-100 bg-none border-4;
}

.brown {
  @apply bg-brown-200;
}

.brown-outline {
  @apply border-brown-200 text-brown-200 bg-none border-4;
}
