@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  min-height: 100vh;
  @apply bg-brown-200;
  color: white;
  margin: 0;
}

img {
  max-width: 100%;
}

.nav-link.active {
  position: relative;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.layout {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  @apply my-44;
  width: min(92vw, 75rem);
}

.layout > * {
  margin-inline: auto;
}

.section-img {
  position: relative;
}

.section-img::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: -4rem;
  right: -5rem;
  background-color: inherit;
  @apply rounded-12;
}